<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Imóveis</title>
</head>
<body>
    <header>
        <a href="/index" class="logo"> <img src="images/slogan.jpg" alt="logo"/></a>
        <nav class="nav-buttons">
            <a href="/login" class="button">Login</a>
            <a href="/register" class="button">Registar</a>
        </nav>
    </header>
    <h1>Imóveis Encontrados</h1>
    <div th:if="${#lists.isEmpty(properties)}">
        <p>Nenhum imóvel encontrado com os critérios selecionados.</p>
    </div>
    <div th:each="property : ${properties}">
        <h2 th:text="${property.title}"></h2>
        <p th:text="'Preço: €' + ${property.price}"></p>
        <p th:text="'Localização: ' + ${property.location}"></p>
        <hr>
    </div>
</body>
</html>
